@media (min-width: 1400px){
  .container{
   max-width: 100%;
  }
}
@media (max-width: 1200px) {
    .HomeContainer{
        display: block;
        justify-content: center;
        text-align: center;
        padding: 90px 30px 0px 80px;
        width: 100%;
      }
      .slider-text-div {
        text-align: left;
      }
 }
 @media screen and (max-width: 991px) { 
  .slider-text-div {
    text-align: left;
  }
 }

 
 @media screen and (max-width:991px) {
  
  header #hamburger{
      display: block;
  }
  header .right{
    position: fixed;
    top: 0px;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: #fff;
    z-index: 7;
    transition: .2s;
    padding: 30px 0;
    flex-direction: column;
    justify-content: start;

  }
  #cancel{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 9px 10px;
    background: blue;
    color: #fff;
    border-radius: 50%;
  }
  header .right ul{
      flex-direction: column;
      background-color: #fff;
      }
      header .right ul li{
        padding-top: 20px;
      }

/* Portrait tablet to landscape and desktop */

  .slider .img-div{
     margin-bottom: 20px;
     padding: 20px 10px;
  }
   h1{
    font-size: 26px;
  }
  p{
font-size: 14px;
  }
 .num-div h2{
    font-size: 18px;
  }
  /* .slider {
   padding: 40px 25px;
   
   
  } */
  .button-slider1{
    font-size: 10px;
    padding: 8px 20px;
  }
  .para button {
    font-size: 10px;
    padding: 8px 20px;
  }

  .smart-fan-text button {
    font-size: 10px;
    padding: 8px 20px;
    margin: 10px 0;
  }
  /* .num-div h5{
    text-align: left;
  }
  .slider-number-p{
    text-align: left;
  } */
  }
    .grid-container {
        /* display: grid; */
        grid-template-columns: auto auto auto auto auto auto ;
        padding: 5px;
       }
       
      .grid-container1{
       display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
        height: 550px;
      }
      .HomeContainer{
        display: block;
        justify-content: center;
        align-items: center;

      }
      .grid-container1 img{
        align-items: center;
      }
     
     
    
    /* .footer-section.links ul {
      display: none;
    } */
   
    .img-6{
   
      height: 100%;
    }
   
    .img-div{
      display: flex;
     
      }
    /* form{
      flex-direction: column;
    } */
    /* form .form-control{
      width: 100%;
    } */
    .testmono{
      padding: 0 10px;
    }
    

   
   .testmono h4{
    text-align: center;
    padding: 10px 0;
   }
   .testmono p{
    text-align: center;
   }
   .line-img-div{
    text-align: center;
    margin-left: 30px;
    padding: 10px 0 50px;
   }
   .main-row-div img{
    width: 100%;

   }
  

   .testmono .owl-carousel .owl-dot{
    background-color: white;
  
     height: 15px;
     width: 15px;border-radius: 20px;
    
      
   }
   .testmono .owl-carousel .owl-dot.active{
      background-color: #78787C;
       height: 20px;
       width: 20px;border-radius: 20px;
       border-color: #78787C ;
       }
       .icon-div{
        padding: 20px 0px;
        }
        .footer-section.links ul li{
         font-size: 10px;
      
        }
      
        /*  */
        
       
 
 
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) { 
  .parent-slider-div .owl-theme .owl-dots {
    margin-left: 0;
  }
  .nested-slider .owl-item.active{
    height: 100%;
    
  }
  
  .testmono .owl-carousel .owl-dot{
    top: 99%;
  }
  .testmono .owl-carousel .owl-dot.active{
    top: 99%;
  }
  .img-div img {
    margin-left: 0;
    object-fit: cover;
   max-width: 100%;
   }
  .slider h1{
    font-size: 29px;
  }
  .slider h2{
    font-size: 24px;
  }
  .heading-p p{
    text-align: left;
  }
  .smart-fan-text{
    padding:20px 0 25px 35px;
    /* text-align: center; */
  }
    .grid-container {
         /* display: grid;   */
          grid-template-columns: auto auto auto auto  ; 
       
        gap: 10px;
       justify-content: center;
        padding: 10px;
      }
      .grid-container1{
        display: block;
       
       height: 550px;
       text-align: center;
      }
      .HomeContainer{
        display: block;
        justify-content: center;
        text-align: center;
        padding: 90px 30px 0px 80px;
        width: 100%;
      }
      .inputdiv1{
        display: block;
        height: 150px;
      }
      .vedio-para-img-div h1,button{
         text-align: center;
      }
      .container-fluid{
       padding: 10px 15px;
        
       }
       .nav-pills .nav-link{
        padding: 10px;
       }
       .main-div1{
        padding: 1px;
      }
      .footer-section.links ul li{
        display: none;
      }
    
      .banner-inside-cont{
        margin: 20px 0;
      }
      .img-6{
        object-fit: contain;
        height: 100%;
      }
     
      .img-div{
        display: flex;
        justify-content: center;
        }
        form{
          flex-direction: column;
        }
        form .form-control{
          width: 100%;
        }
        .testmono{
          padding-bottom: 20px;
          padding: 20px 10px;
        }
        .testmono .Image-1{
          height: 100%;
          object-fit: cover;
         
        
       }

       .testmono h4{
        text-align: center;
        padding: 10px 0;
       }
       .testmono p{
        text-align: center;
       }
       .line-img-div{
        text-align: center;
        margin-left: 30px;
        padding: 10px 0 50px;
       }
       
    .main-row-div img{
      width: 100%;
     }
    
     .icon-div{
     padding: 20px 0px;
     }
     .testmono .owl-carousel .owl-dot{
      background-color: white;
    
       height: 15px;
       width: 15px;border-radius: 20px;
      
        
     }
     .testmono .owl-carousel .owl-dot.active{
        background-color: #78787C;
         height: 20px;
         width: 20px;border-radius: 20px;
         border-color: #78787C ;
          }
          .slider .owl-carousel.owl-drag .owl-item{
            height: fit-content;
          }  
          .slider .owl-carousel .owl-dots{
            bottom: 6px;
          }
          .child-slider .owl-prev{
            right: 45px;
          }
          .child-slider .owl-next{
            right: 45px;
          }
          .fan-slider .owl-carousel .owl-nav button.owl-prev{
            bottom: -30px;
            top:0;
            right: 0;
            left: 30px;
          }
          .fan-slider .owl-carousel .owl-nav button.owl-next{
            bottom: -30px;
            top:0;
            right: 0;
            left: 50px;
          }
          .testmono .testmoni-text-image{
            padding: 10px 0;
            
           }
  }
 
 
/* Landscape phones and down */
@media (max-width: 500px) { 
  /* .slider h1{
    font-size: 26px;
  }
  .slider h2{
    font-size: 16px;
  } */
  .slider{
    padding: 10px 0 ;
    align-items: center;
  }
    .grid-container1{
        display: block;
       justify-content: center;
       align-items: center;
       text-align: center;
         height: 550px;
       }
       .grid-container {
        display: grid;
        grid-template-columns: auto auto auto  ;
        gap: 10px;
       
        padding: 10px;
      }
      .container-fluid{
       padding: 0 15px;
         
        }
        .main-div1{
          padding: 1px;
        }
        .footer-section.links ul li{
          display: none;
        }

      s
        .img-div{
          display: flex;
          justify-content: center;
          }
          form{
            flex-direction: column;
          }
          form .form-control{
            width: 100%;
          }
          .testmono{
            padding: 20px 10px;
          }
          .testmono .Image-1{
            height: 100%;
            object-fit: cover;
            width: 100%;
           
          
         }
         .slider-text-div{
          text-align: center;
          display: flex;
          justify-content: center;
         }
         .testmono h4{
          text-align: center;
          padding: 10px 0;
         }
         .testmono p{
          text-align: center;
         }
         .line-img-div{
          text-align: center;
          margin-left: 30px;
          padding: 10px 0 50px;
         }
         
      .main-row-div img{
        width: 100%;
       }
       
       .icon-div{
        padding: 20px 0px;
       }
       .testmono .owl-carousel .owl-dot{
        background-color: white;
      
         height: 15px;
         width: 15px;border-radius: 20px;
        position: absolute;
        right: 75px;
        bottom: -33px;
          
       }
       .testmono .owl-carousel .owl-dot.active{
          background-color: #78787C;
           height: 20px;
           width: 20px;border-radius: 20px;
           border-color: #78787C ;
           right: 50px;
           bottom: -35px;
         }
         .icon-div{
          padding: 20px 0px;
          }
          .slider .owl-carousel.owl-drag .owl-item{
            height: fit-content;
          }  
          .slider .owl-carousel .owl-dots{
            bottom: 6px;
          }
          .fan-slider .owl-carousel .owl-nav button.owl-prev{
            bottom: 30px;
            top:0;
            right: 0;
          }
  }
          
 
 @media only screen and (max-width: 360px) {

 
  .slideshow-container  .prev, .next,.text {font-size: 11px}
  
.img-6{
   
    height: 100%;
  }
 
  .img-div{
  display: flex;
  justify-content: center;
  }
  form{
    flex-direction: column;
  }
  form .form-control{
    width: 100%;
  }
  .testmono{
    padding: 20px 10px;
  }
  .testmono .Image-1{
    height: 100%;
    object-fit: cover;
    width: 100%;
   
  
 }
 .slider-text-div{
  text-align: center;
  display: flex;
  justify-content: center;
 }
 .testmono h4{
  text-align: center;
  padding: 10px 0;
 }
 .testmono p{
  text-align: center;
 }
 .line-img-div{
  text-align: center;
  margin-left: 30px;
  padding: 10px 0 50px;
 }
 .vedio-para-img-div .para h2{
  font-size: 36px;
  font-weight: 700;
  color: #3A3A3A;
  
  text-align: center;
  padding: 10px 0;
 
}
.main-row-div img{
  width: 100%;
 }
 .testmono .para-div{
  padding: 0;
 }
 .icon-div{
  margin-top: 20px;
 }
 .testmono .owl-carousel .owl-dot{
  background-color: white;

   height: 15px;
   width: 15px;border-radius: 20px;
  
    
 }
 .testmono .owl-carousel .owl-dot.active{
    background-color: #78787C;
     height: 20px;
     width: 20px;border-radius: 20px;
     border-color: #78787C ;
     }
     .icon-div{
      padding: 15px 15px;
      }
      .slider .owl-carousel.owl-drag .owl-item{
        height: fit-content;
      }  
      .slider .owl-carousel .owl-dots{
      bottom: 6px;
      }
}
     
